@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Black: rgb(12, 12, 12);
    --Black-Opacity-90: rgba(12, 12, 12, .90);
    --Black-Opacity-75: rgba(12, 12, 12, .75);
    --White: rgb(240, 240, 255);
    --DarkGray: rgb(64, 64, 64);

    --Teko: "Teko", sans-serif;
    --Inter: "Inter", sans-serif; 
}

body {
    width: 100dvw;
    height: 100dvh;

    background-color: var(--Black);

    overflow-x: hidden;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

@media screen and (max-width: 1023px) {
    body::after {
        width: 100%;

        padding: 32px;

        content: 'Este conteúdo está disponível apenas em telas maiores (mínimo 1024px).';
        text-transform: uppercase;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: var(--White);

        font-family: var(--Teko);
        font-size: 48px;
        text-align: center;
    }
    main {
        display: none;
    }
}